<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>step04_MyFramework</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 진입점 Controller(Servlet) 등록 -->
	<!-- 자동으로 Spring IoC 컨테이너 = WebApplicationContext 생성을 위해 설정문서를 찾음 
	기본 경로와 이름 /WEB-INF/서블릿이름-servlet.xml -->
	<!-- init-param설정 시 configuration meta-data문서의 위치와 이름을 변경할 수 있다 -->

	<servlet>
		<servlet-name>dispatcher</servlet-name>

		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- <servlet-class>web.mvc.controller.DispatcherServlet</servlet-class> -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/Spring/test-param.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>